<extend name="Base/base" />
<block name="style">
    <!--<link rel="stylesheet" type="text/css" href="__CSS__/index.css">-->
    <style type="text/css">
    </style>
</block>

<block name="breadcrumb">
    <li>
        <i class="fa fa-home"></i>
        <a href="#">首页</a>
    </li>
    <li class="active">网站访问量</li>
</block>

<block name="header">
</block>
<block name="content">
    <div class="page-body">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header ">
                       <!--  <span class="widget-caption"><i class="fa fa-globe"></i>&nbsp;&nbsp;网站访问量</span> -->
                        <div class="widget-buttons">
                            <a href="#" data-toggle="maximize">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a href="#" data-toggle="collapse">
                                <i class="fa fa-minus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                       <div class="row">
                           <div class="col-xs-12">
                               <div class="row">
                                   <div class="col-xs-12 col-md-6">
                                       <div class="widget">
                                       <input type="text" id="get_date" url="__URL__/retrun_date" style="display:none">
                                           <div class="widget-header "> <span class="widget-caption"><i class="fa fa-globe"></i>&nbsp;&nbsp;博客浏览量</span></div>
                                           <div class="widget-body">
                                                <div id="container" style="height: 400px"></div>
                                           </div>
                                       </div>
                                   </div>
                                   
                                    <div class="col-xs-12 col-md-6">
                                        <div class="widget">
                                       <input type="text" id="get_type" data="{:U('Index/get_type_count')}" style="display:none">
                                           <div class="widget-header "><span class="widget-caption"><i class="fa fa-globe"></i>&nbsp;&nbsp;博客分类统计</span></div>
                                           <div class="widget-body">
                                                <div id="containers" style="height: 400px"></div>
                                           </div>
                                       </div>
                                    </div>
                               </div>
                           </div>
                           <!-- 博客浏览量统计 -->
                           <div class="col-xs-12">
                             <div class="row">
                                <div class="col-xs-12 col-md-6">
                                        <div class="widget">
                                       <input type="text" id="get_type" data="{:U('Index/get_type_count')}" style="display:none">
                                           <div class="widget-header "><span class="widget-caption"><i class="fa fa-globe"></i>&nbsp;&nbsp;最近发布的博客</span></div>
                                           <div class="widget-body">
                                                 <volist name="blog_data" id="vo">
                                                 <h5 class="row-title before-blueberry" style="width:100%">
                                                     <i class="typcn typcn-th-menu blueberry"></i>
                                                    {$vo.title}【发布日期】<a href="#" style="color:#448AFF">{$vo.public_date|date="Y-m-d",###}</a>【浏览量】<a href="#" style="color:#448AFF">{$vo.browsenumber}</a>【点赞数】<a href="#" style="color:#448AFF">{$vo.praise}</a>
                                                 </h5>
                                                 </volist>
                                           </div>
                                       </div>
                                    </div>

                                    <div class="col-xs-12 col-md-6">
                                        <div class="widget">
                                       <input type="text" id="get_type" data="{:U('Index/get_type_count')}" style="display:none">
                                           <div class="widget-header "><span class="widget-caption"><i class="fa fa-globe"></i>&nbsp;&nbsp;最近留言</span></div>
                                           <div class="widget-body">
                                                 <volist name="commit_date" id="vo">
                                                 <h5 class="row-title before-blueberry" style="width:100%">
                                                     <i class="typcn typcn-th-menu blueberry"></i>
                                                    {$vo.userful_chat}【内容】<a href="#" style="color:#448AFF">{$vo.message}</a>【日期】<a href="#" style="color:#448AFF">{$vo.message_time|date="Y-m-d H:i:s",###}</a>
                                                 </h5>
                                                 </volist>
                                           </div>
                                       </div>
                                    </div>
                             </div>
                           </div>


                       </div>
                       
                    </div>
                </div>
            </div>

        </div>
    </div>
</block>

<block name="script">
   <!-- <script type="text/javascript" src="__JS__/index.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/Data/js/jquery.tmpl.js"></script>-->
     <script src="__STATIC__/Highcharts/js/highcharts.js"></script>
     <script src="__STATIC__/Highcharts/js/highcharts-3d.js"></script>
     <script src="__STATIC__/Highcharts/js/modules/exporting.js"></script>
     <script type="text/javascript">
           /*画出博客浏览图表*/
      $(function() {
           var a= new Array();
           var b= new Array();

           /* $("ul li").eq(0).removeClass('active');
            $("ul li").eq(5).addClass('active');*/
            $.ajax({
                type:'POST',
                url:$("#get_date").attr('url'),
                data:{ 
                    id:'1'
                },
                success:function(data){
                    for(var item in data){
                         a.push(parseInt(data[item]));
                         b.push(item);
                         
                    }
                     $('#container').highcharts({
                            chart: {
                                type: 'column',
                                margin: 75,
                                options3d: {
                                    enabled: true,
                                    alpha: 10,
                                    beta: 25,
                                    depth: 70
                                }
                            },
                            title: {
                                text: '博客浏览量统计'
                            },
                            subtitle: {
                                text: '对所有博客的浏览量进行统计'
                            },
                            plotOptions: {
                                column: {
                                    depth: 25
                                }
                            },
                            xAxis: {
                                categories:b
                            },
                            yAxis: {
                                title: {
                                    text:'博客浏览量'
                                }
                            },
                            series: [{
                                name: 'view',
                                data: a
                            }]
                   });
                }
            });


           var c= new Array();
           var d= new Array();

           /* $("ul li").eq(0).removeClass('active');
            $("ul li").eq(5).addClass('active');*/
            $.ajax({
                type:'POST',
                url:$("#get_type").attr('data'),
                data:{ 
                    id:'1'
                },
                success:function(data){
                    for(var item in data){
                         c.push(parseInt(data[item]));
                         d.push(item);
                         
                    }
                     $('#containers').highcharts({
                            chart: {
                                type: 'column',
                                margin: 75,
                                options3d: {
                                    enabled: true,
                                    alpha: 10,
                                    beta: 25,
                                    depth: 70
                                }
                            },
                            title: {
                                text: '博客分类统计'
                            },
                            subtitle: {
                                text: '对所有博客的浏览量进行统计'
                            },
                            plotOptions: {
                                column: {
                                    depth: 25
                                }
                            },
                            xAxis: {
                                categories:d
                            },
                            yAxis: {
                                title: {
                                    text:'博客浏览量'
                                }
                            },
                            series: [{
                                name: '类型',
                                data: c
                            }]
                   });
                }
            });
                
                
            

         });


     </script>
</block>