<extend name="Base/base" />

<block name="style">
 <link href="__CSS__/style.css" rel="stylesheet">
 <link href="__CSS__/media.css" rel="stylesheet">
 <link href="__CSS__/base.css" rel="stylesheet">
    <!-- CSS Files -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="__PLUG__/css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="__PLUG__/menu/css/simple_menu.css">
    <link type="text/css" href="__JS__/scal/css/style.css" rel="stylesheet" /> -->
</block>
<block name="article">
<h2 class="about_h">您现在的位置是：<a href="/">分类</a>><a href="1/">博客分类</a><a href="1/"></a></h2>
   <!--  -->
   <volist name="type_list" id="vo">  
    <div class="template">
      <h3>
        <p><span>{$vo.type_name}</span></p>
      </h3>
      <ul>
        <li><a href="/"><img src="__UPLOADS__/{$vo.photo}"></a><span>{$vo.descript}</span></li>
      </ul>
    </div>
    </volist>
</block>

<block name="script">
    <script type="text/javascript">
      
    </script>
</block>