<extend name="Base/base" />

<block name="style">
    <!-- CSS Files -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="__PLUG__/css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="__PLUG__/menu/css/simple_menu.css">
    <link type="text/css" href="__JS__/scal/css/style.css" rel="stylesheet" /> -->
</block>
<block name="article">
<div class="banner">
      <ul class="texts">
        <p>The best preparation for tomorrow is doing your best today.</p>
        <p>对明天做好的准备就是今天做到最好！</p>
      </ul>
</div>
<div class="bloglist">
      <h2>
        <p><span>推荐</span>文章</p>
      </h2>
      <input type="hidden" value="{:U('Index/add_blog_number')}" id="plug_number">
      <volist name="blog_data" id="vo">
       <div class="blogs">
            <h3><a href="{:U('Index/look_blog_detail')}?id={$vo.id}" class="readmore1" data="{$vo.id}">{$vo.title}</a></h3>
            <figure><img src="__UPLOADS__/{$vo.blog_photo}" ></figure>
            <ul>
              <p>{$vo.blog_newsletter|htmlspecialchars_decode}</p>
              <a href="{:U('Index/look_blog_detail')}?id={$vo.id}" class="readmore" data="{$vo.id}">阅读全文&gt;&gt;</a>
            </ul>
            <p class="autor"><span>作者：程鹏辉</span><span>分类：【<a href="/">{$vo.type_name}</a>】</span><span>浏览（<a href="/">{$vo.browsenumber}</a>）</span><span>评论（<a href="/">{$vo.commit_count}</a>）</span><span>点赞（<a href="/">{$vo.praise}</a>）</span></p>
            <div class="dateview">{$vo.public_date|date="Y-m-d",###}</div>
      </div>
      </volist>      
</block>

<block name="script">
    <script type="text/javascript">
      $(".readmore").click(function(){
        var id= $(this).attr("data");
        $.ajax({
           type: 'POST',
           url: $("#plug_number").attr("value"),
           data: {
              'id': id
             }
          });
      });

      $(".readmore1").click(function(){
        var id= $(this).attr("data");
        $.ajax({
           type: 'POST',
           url: $("#plug_number").attr("value"),
           data: {
              'id': id
             }
          });
      });
    </script>
</block>