<extend name="Base/base" />

<block name="style">
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" media="screen" href="__PLUG__/css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="__PLUG__/menu/css/simple_menu.css">
    <link rel="stylesheet" type="text/css" href="__PLUG__/boxes/css/style6.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/look_blog_detail.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css">
</block>

<block name="content">
    <div id="prod_wrapper">
        <h1>{$blog_detail.title}</h1>

        <ul class="post_meta" style="margin:0">
            <li class="post_meta_date"><a href="#">{$blog_detail.public_date|date="Y-m-d",###}</a></li>
            <li class="post_meta_comments"><a href="#">{$blog_detail.commit_count}</a></li>
            <li class="post_meta_admin"><a href="#">{$blog_detail.praise}</a></li>
            <li class="post_meta_prise"><a href="#">{$blog_detail.browsenumber}</a></li>
        </ul>
        <div class="one">
            <p>{$blog_detail.blog_content}</p>
        </div>
    </div>

    <!-- end sidebar right -->
    <div style="clear:both;"></div>
      <a href="#" id="imagse" style="margin-left: 38%;margin-top: -50px"><img src="__IMG__/13.png"></a>
    <div style="clear:both; height: 40px"></div>

    <div>
        <p class="jiathis_style_32x32">
            <a href="#">分享到：</a><br/>
            <a class="jiathis_button_qzone"></a>
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_tqq"></a>
            <a class="jiathis_button_weixin"></a>
            <a class="jiathis_button_renren"></a>
            <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
        </p>
        <br />
       <div>
           <!-- 上一篇 -->
           <if condition="$blog_title.last_id eq null ">
               <else /> <p>上一篇：<a href="{:U('Index/look_blog_detail')}?id={$blog_title.last_id}" class="look_cout_last">{$blog_title.last_title} </a></p>
           </if>

           <!-- 下一篇 -->
           <if condition="$blog_title.after_id eq null ">
               <else /> <p>下一篇:  <a href="{:U('Index/look_blog_detail')}?id={$blog_title.after_id}" class="look_cout_after">{$blog_title.after_title}</a></p>
           </if>
       </div>
    </div>
    <div style="clear:both; height: 20px"></div>
</block>

<block name="script">
    <script src="__PLUG__/js/jquery.tools.min.js"></script>
    <script type="text/javascript"src="__PUBLIC__/admin/static/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
    <script type="text/javascript" src="__JS__/index.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all();
    </script>
</block>